<section class="mx-auto center-L-R ">
  <div class="bg-main-light p-4 rounded my-2">
    <h1 class="text-center text-main">Verification</h1>
    <form [formGroup]="forgetForm" (ngSubmit)="verifyEmail()">
      <div>
        <label for="email">
          Write your email to send code :
        </label>
        <input #email formControlName="email" class="form-control" type="email" id="email">
        <div class="alert alert-danger mt-2"
          *ngIf="forgetForm.get('email')?.errors && (forgetForm.get('email')?.touched|| email.value.length)">
          <p *ngIf="forgetForm.get('email')?.getError('required')">Email is required</p>
          <p *ngIf="forgetForm.get('email')?.getError('email')">Invalid email</p>
        </div>
      </div>
      <div class="pt-3">
        <button class="btn-main d-block ms-auto"><i *ngIf="isloading" class="fas fa-spinner fa-spin"></i>
          Send</button>
      </div>
    </form>
  </div>
</section>