<section class="mx-auto center-L-R ">
  <div class="bg-main-light p-4 rounded my-2">
    <h1 class="text-center text-main">Reset password</h1>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <div>
        <label for="email">
          Email :
        </label>
        <input #email formControlName="email" class="form-control" type="email" id="email">
        <div class="alert alert-danger mt-2"
          *ngIf="resetForm.get('email')?.errors && (resetForm.get('email')?.touched|| email.value.length)">
          <p *ngIf="resetForm.get('email')?.getError('required')">Email is required</p>
          <p *ngIf="resetForm.get('email')?.getError('email')">Invalid email</p>
        </div>
      </div>
      <div class="mb-2">
        <label for="password">Password:</label>
        <input #password id="password" formControlName="newPassword" type="password" class="form-control">
        <div class="alert alert-danger mt-2"
          *ngIf="resetForm.get('newPassword')?.errors && (resetForm.get('newPassword')?.touched || password.value.length > 0)">
          <p *ngIf="resetForm.get('newPassword')?.getError('required')">Password is required</p>
          <p *ngIf="resetForm.get('newPassword')?.getError('pattern')">Password pattern is invalid</p>
        </div>
      </div>
      <div class="pt-3">
        <button class="btn-main d-block ms-auto"><i *ngIf="isloading" class="fas fa-spinner fa-spin"></i>
          Submit</button>
      </div>
    </form>
  </div>
</section>